CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_SUNXI_ARM=y
CONFIG_TEXT_BASE=0x43500000
CONFIG_SYS_MALLOC_LEN=0x2800000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x48000
CONFIG_ENV_SIZE=0x20000
CONFIG_DEFAULT_DEVICE_TREE="uboot-board"
CONFIG_MACH_SUN8IW22=y
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SUNXI_FDT_ADDR=0x42000000
CONFIG_SYS_CUSTOM_LDSCRIPT=y
CONFIG_SYS_LDSCRIPT="bsp/arch/arm/mach-sunxi/u-boot.lds"
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_PREBOOT=""
CONFIG_LOGLEVEL=6
# CONFIG_SYS_DEVICE_NULLDEV is not set
# CONFIG_LOG_CONSOLE is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_SYS_MAXARGS=64
CONFIG_SYS_BOOTM_LEN=0x2000000
CONFIG_CMD_GPIO=y
CONFIG_CMD_LOG=y
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y
# CONFIG_CLK_SUNXI is not set
CONFIG_DM_HASH=y
CONFIG_DM_MOD_EXP=y
CONFIG_MISC=y
CONFIG_MMC_BROKEN_CD=y
CONFIG_MMC_HS400_SUPPORT=y
# CONFIG_MMC_SUNXI is not set
CONFIG_RGMII=y
CONFIG_RMII=y
CONFIG_PINCONF=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_AXP=y
CONFIG_DM_PWM=y
CONFIG_DM_USB_GADGET=y
CONFIG_USB_EHCI_HCD=y
# CONFIG_WDT_SUNXI is not set
CONFIG_RSA=y
# CONFIG_TOOLS_LIBCRYPTO is not set
CONFIG_AW_PINCTRL_V3=y
CONFIG_AW_GPIO=y
CONFIG_AW_GPIO_V3=y
CONFIG_AW_PWM=y
CONFIG_AW_USB=y
CONFIG_AW_EFEX=y
CONFIG_AW_BURN=y
CONFIG_AW_FASTBOOT=y
CONFIG_AW_UDC=y
CONFIG_AW_UDC_CONTROLLER=y
CONFIG_AW_USB_PHY=y
CONFIG_USB_EHCI_HCD_SUNXI=y
CONFIG_AW_DRM=y
CONFIG_AW_DRM_DSI=y
# CONFIG_AW_DRM_HDMI_TX is not set
# CONFIG_AW_DRM_EINK200 is not set
CONFIG_AW_DRM_PANEL=y
CONFIG_PANEL_DSI_GENERAL=y
CONFIG_AW_DRM_PHY=y
CONFIG_AW_CE_DRIVER=y
CONFIG_SUNXI_CE_23=y
CONFIG_AW_EFUSE=y
CONFIG_AW_DWMAC=y
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_PRIVATE_STORAGE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_SUNXI_REDUNDAND_ENVIRONMENT=y
CONFIG_SYS_TEXT_BASE=0x43500000
CONFIG_SUNXI_PRIVATE_STORAGE=y
CONFIG_SUNXI_EXTERN_SECURE_MM_LAYOUT=y
CONFIG_SUNXI_BOOT_PARAM=y
# CONFIG_LOGF_MODULE is not set
# CONFIG_LOGF_LEVEL is not set
# CONFIG_LOGF_DEVNAME is not set
CONFIG_SUNXI_SPRITE_CARTOON=y
CONFIG_SUNXI_AUTO_UPDATE=y
CONFIG_VIDEO_LOGO=n
