# global options
  id=0x20000
  rev=0x20001
  custom0=0x123
  custom1=0x456
  custom2=0x789
  custom3=0xabc

#entry
sunxi_board0.dtbo
  id=0x10000      # override the value of id in global options

sunxi_board1.dtbo
  custom3=0x123   # override the value of custom3 in global options

sunxi_board2.dtbo
  custom2=0x456   # override the value of custom2 in global options
